<header>
  <ul class="nav nav-tabs nav-justified">
    <% if session[:player_id].nil? %>
    <li><%= link_to "login", '/login' %></li>
    <% else %>
      <li><%= link_to "logout", '/logout' %></li>
      <% end %>
    <li><%= link_to "Home", '/' %></li>
        <% if session[:player_id].nil? %>
    <li><%= link_to 'New Player', '/new' %></li>
    <% end %>
    <li><%= link_to "Standings", '/standings' %></li>
    <li><%= link_to "Submit Score", '/matches/new' %></li>
  </ul>
</header>
<% if @current_player %>
<h5>Currently logged in as, <%= @current_player.first_name + " " + current_player.last_name %></h5>
<% end %>
<h1><%= alert %></h1>
<div id="body">
    <h1>ProjectX Ping Pong League</h1><br>
    <p>Play Matches for Fun</p><br>
    <p>Record the Results</p><br>
    <p>Determine the Champion</p>
</div>
