  <!-- This is the nav bar at the top -->
  <header>
  <ul class="nav nav-tabs nav-justified">
      <li><%= link_to "logout", '/logout' %></li>
    <li><%= link_to "Standings", '/standings' %></li>
    <li><%= link_to "Submit Score", '/matches/new' %></li>
  </ul>
</header>
<!-- <% if @current_player %> -->
<h3>Currently logged in as: <%= session[:player_user_name].capitalize %></h3>
<!-- <% end %> -->
<h1><%= alert %></h1>
<div id="body">
    <h1>ProjectX Ping Pong Ladder League</h1><br>
    <!-- <% if @current_player.standings_position.nil? %>
    <p>If you are new, challenge anyone on the ladder and if you win you get to take there spot, however if you
    lose then you start at the last position on the ladder</p><br>
    <% else %> -->


    <p> <%= "You current position on the ladder is: #{@player_ladder}" %></p>
    <!-- <% end %> -->
      <!-- Determines what text will show on homepage, if user is #1 on ladder -->
    <% if @player_ladder == 1  %>
    <p>You are at the top of the ladder, how is the view from up there?</p>
    <!-- This is if they are not 1 or 2 -->
    <% elsif @one_up_ladder && @two_up_ladder %>
    <p><%= "If you would like to move up, you can challenge #{@one_up_ladder.first_name} #{@one_up_ladder.last_name} , or #{@two_up_ladder.first_name} #{@two_up_ladder.last_name}" %></p>
    <!-- And This handles if user is 2 on ladder -->
    <% elsif @one_up_ladder %>
          <p><%= "If you would like to move up, you can challenge #{@one_up_ladder.first_name} #{@two_up_ladder.last_name}" %></p>
    <% end %>

    <p>Ladder tourney rules: <%= link_to "Rules", '/rules' %></p>
</div>
