<h1>Player Bio Page</h1>

<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Slack name:</strong>
  <%= @player.slack_name %>
</p>

<!-- <%= link_to 'Edit', edit_player_path(@player) %> | -->
<%= link_to "standings", '/standings', :method => :get %>
