<header>
  <ul class="nav nav-tabs nav-justified">
    <% if session[:player_user_name].nil? %>
    <li><%= link_to "login", '/login' %></li>
    <% else %>
      <li><%= link_to "logout", '/logout' %></li>
      <% end %>
    <li><%= link_to "Home", '/' %></li>
    <li><%= link_to "Standings", '/standings' %></li>
    <li><%= link_to "Submit Score", '/matches/new' %></li>
  </ul>
</header>
<div class="Welcome_message"><h1><%= alert %></h1></div>
<div class="player_bio">
  <div class = "player_head">
    <h1>Player Bio Page</h1>
    <p id="notice"><%= notice %></p>
  </div>

  <div class="player_text">
    <p>
      <strong>Name:</strong>
      <%= @player.first_name.capitalize + " " + @player.last_name.capitalize %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @player.user_name %>
    </p>

    <p>
      <strong>Wins:</strong>
      <%= @player.wins %>
    </p>

    <p>
      <strong>Losses:</strong>
      <%= @player.losses %>
    </p>

    <p>
      <strong>Points For:</strong>
      <%= @player.pf %>
    </p>

    <p>
      <strong>Points Against:</strong>
      <%= @player.pa %>
    </p>
    <p>
      <strong>League:</strong>
      <%= @player.league.league_name %>
    </p>
  </div>
  <!-- <%= link_to 'Edit', edit_player_path(@player) %> | -->
  <button class= "button">
  <%= link_to "Standings", '/standings', :method => :get %>
  </button>
  </div>
</div>
