<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :opponent_username %>
    <%= f.text_field :opponent_username %>
  </div>

  <div class="field">
    <%= f.label :your_score %>
    <%= f.number_field :your_score %>
  </div>

  <div class="field">
    <%= f.label :opponent_score %>
    <%= f.number_field :opponent_score %>
  </div>

  <div class="button">
    <%= f.submit "submit score" %>
  </div>
<% end %>
