<p id="notice"><%= notice %></p>

<h1>This is the matches home page</h1>

<table>
  <thead>
    <tr>
      <th>Winners User Name</th>
      <th>Losers User Name</th>
      <th>Winners score</th>
      <th>Losers score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <% if match.your_score > match.opponent_score %>
        <td><%= @current_player.user_name %></td>
        <td><%= match.opponent_username %></td>
        <td><%= match.your_score %></td>
        <td><%= match.opponent_score %></td>
        <% else %>
        <td><%= match.opponent_username %></td>
        <td><%= @current_player.user_name %></td>
        <td><%= match.opponent_score %></td>
        <td><%= match.your_score %></td>
        <% end %>



        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
