<header>
  <ul class="nav nav-tabs nav-justified">
    <li><%= link_to "Home", '/' %></li>
    <li><%= link_to 'New Player', '/new' %></li>
    <li><%= link_to "Standings", '/standings' %></li>
    <li><%= link_to "Submit Score", '/matches/new' %></li>
  </ul>
</header>

<div class="subpage">
  <div class="subscore">
    <h1>Submit Score</h1>
  </div>

  <div class= "subform">
    <%= render 'form', match: @match %>
    <!-- <button>
      <%= link_to 'Home', '/' %>
    </button> -->
    </div>
</div>
