<header>
  <ul class="nav nav-tabs nav-justified">
    <li><%= link_to "login", '/login' %></li>
    <li><%= link_to "Home", '/' %></li>
    <li><%= link_to 'New Player', '/new' %></li>
    <li><%= link_to "Standings", '/standings' %></li>
    <li><%= link_to "Submit Score", '/matches/new' %></li>
  </ul>
</header>
  <h5>Currently logged in as, <%= @current_player.first_name + " " + current_player.last_name %></h5>
<div class="winner">
<% if @match.your_score > @match.opponent_score %>

  <h1>Congrats <%= @current_player.user_name %> you have won!!!! </h1>
  <p>
    <strong>Winners User Name:</strong>
      <%= @current_player.user_name %>
  </p>

  <p>
    <strong>Losers User Name:</strong>
      <%= @match.opponent_username %>
  </p>

  <p>
    <strong>Winners score:</strong>
      <%= @match.your_score %>
  </p>

  <p>
    <strong>Losers score:</strong>
      <%= @match.opponent_score %>
  </p>
</div>
<% else %>
<h1>Congrats <%= @match.opponent_username %> you have won!!!! </h1>
<p>
  <strong>Winners User Name:</strong>
    <%= @match.opponent_username %>
</p>

<p>
  <strong>Losers User Name:</strong>
    <%= @current_player.user_name %>
</p>

<p>
  <strong>Winners score:</strong>
    <%= @match.opponent_score %>
</p>

<p>
  <strong>Losers score:</strong>
    <%= @match.your_score %>
</p>
</div>
<% end %>
  <!-- <%= link_to 'Back', matches_path %> -->
